* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */
body {
    font-family: 'Asap', sans-serif;
    background-color:#F5F5F5;  
    font-size:14px; 
    line-height:20px;
    color:#707070;
}

.container {
    margin: 0 auto;
    width:80%;
    
    display:grid;
    grid-template-columns: 2fr 3fr 1fr;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size:21px;
    line-height:28px;
    text-transform: uppercase;
    text-align:center;
    color:#FF6161;
    margin-bottom:10px;
}


a {
    color:#707070;
    text-decoration: none;
}

b {
    color:#FF6161;
}
/* HEADER */

.banner {
    background-image: url(images/header-banner.png);
    height:334px;
}


/* SIDEBAR BOX */

.sidebar-box {
    /*position: absolute;
    top:-50px;
    z-index:100;*/
}

.outer-wrapper {
    
}
/* DESCRIPTION */

.description {
    width:350px;
    height:auto;
    background-color:white;
    padding-bottom:20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
}

.link-box {
    width:300px;
   
    text-align:center;
}

.description-image {
    height:168px;
    text-align:center;
}

.description-icon {
}

.description-box {
    text-align:justify;
    padding-right:30px;
    padding-left:30px;
    margin-bottom: 20px;
}

.link-box {
    text-align:center;
    margin-bottom:15px;
}
.link-box li {
    display:inline;
    text-transform: uppercase;
}

.link-box ul {
    width:350px;
    display:flex;
    justify-content: space-around;
}

.social-media-box {
    text-align:center;
    margin-top:10px;
}

.info-box {
    border-left:1px solid #E5E5E5;
    border-right:1px solid #E5E5E5;
    border-top:1px solid #E5E5E5;
    
    width:350px;
    padding:10px 10px 10px 30px;
}

.last {
    border-bottom:1px solid #E5E5E5;
}

/* WIP BOXES */

.wip-box {
    width:350px;
    height:auto;
    background-color: white;
    margin-top:50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
}

.wip-img-box {
    text-align:center;
}

.wip-text-box {
    padding:10px 30px;
    text-align:justify;
}

.wip-text-box h2 {
    font-style: italic;
    font-size:14px;
    font-weight: normal;
    text-align:center;
    margin-bottom:10px;
}

.wip-text {
    font-size:13px;
    font-weight: 600;
    text-transform: uppercase;
}


/* POSTS */

.post-box {
    width:540px;
}

.post {
    width:540px;
    background-color:white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.12);
}

.inner-wrapper {
    width:540px;

}

.post-info {
    display:grid;
    grid-template-columns: 1fr 6fr 1fr;
    padding: 10px 25px 10px 25px;
}

.info h3, .post-text h3, .asker h3, .post-convo h3, .post-text-t h3 {
    text-transform: uppercase;
    color:#FF6161;
    font-weight: 600;
    font-size:14px;
}

.post-text h3 {
    margin-bottom:10px;
}

.post-text {
    padding:25px;
    text-align:justify;
}

.tags {
    color: #AEAEAE;
    text-align: center;
    font-style:italic;
    margin-bottom:30px;
}

.post-source {
    padding:15px 25px 25px 45px;
}

.quote {
    color:#FF6161;
    font-weight: 500;
    font-style:italic;
    padding:15px 25px 0 25px;
    border-top:1px solid #E5E5E5;
    font-size:16px;
}

.asker {
    padding:25px 25px 13px 25px;
    border-top:1px solid #E5E5E5;
    border-bottom:1px solid #E5E5E5;
}

.asker h3 span {
    text-transform: lowercase;
}

.answer {
    padding:13px 25px 25px 25px;
    text-align:justify;
}

.post-convo {
    padding:15px 25px 25px 25px;
    border-top:1px solid #E5E5E5;
}

.post-convo span {
    text-transform: uppercase;
    font-weight: bold;
}

.link {
    width:540px;
    padding:25px;
    text-align:center;
    background-color:#E1FEA4;
    text-transform: uppercase;
    color:white;
}

.post-text-t {
    border-top:1px solid #E5E5E5;
    padding:25px;
    text-align:justify;
}

.post-text-t h1 {
    text-align:left;
}
/* UPDATES TAB */

.update-tab {
    margin-top:20px;
}

.update {
    margin-bottom:10px;
    display:grid;
    grid-template-columns: auto 2fr;
}

.update-content {
    align-self:center;
}

.update .update-content {
    opacity: 0;
    -webkit-transition: none;
}

.update:hover .update-content {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
}

/* ICONS */
.th {
    font-size:20px;
    color:white;
    background-color:#E1FEA4;
    border-radius:30px;
    padding:7px;
    margin-right:5px;
}